.c0 .deprovisionuser {
    width: 190px;
    max-width: 200px;
}
.c1 .deprovisionuser {
    width: 280px;
    max-width: 200px;
}
.c2 .deprovisionuser {
    width: 150px;
    max-width: 200px;
}
.c3 .deprovisionuser {
    width: 240px;
    max-width: 200px;
}
.c4 .deprovisionuser {
    width: 60px;
    max-width: 200px;
}