.deprovisionuser .c0 {
    max-width: 200px;
    width: 190px;
}
.deprovisionuser .c1 {
    max-width: 200px;
    width: 280px;
}
.deprovisionuser .c2 {
    max-width: 200px;
    width: 150px;
}
.deprovisionuser .c3 {
    max-width: 200px;
    width: 240px;
}
.deprovisionuser .c4 {
    max-width: 200px;
    width: 60px;
}