.deprovisionuser .c0 {
    width: 190px;
}
.deprovisionuser .c1 {
    width: 280px;

}
.deprovisionuser .c2 {
    width: 150px;

}
.deprovisionuser .c3 {
    width: 240px;
}
.deprovisionuser .c4 {
    width: 60px;

}